<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="background">

<h1>Bank app</h1>
<nav>
    <a href="sing_in">
        <button id="sing-in" type="submit">Sign in</button>
    </a>

    <a href="sing_up">
        <button id="sing-up" type="submit">Sing up</button>
    </a>

    <form action="#" th:action="@{/api/accounts/buscar}" method="get">
        <label for="name">NAME:</label>
        <input type="text" id="name" name="name"/>


    </form>

    <a href="/api/accounts/" class="btn btn-primary">go to Index</a>
    <a href="/api/accounts/homePage" class="btn btn-primary">go to home page</a>
</nav>
</body>

<footer id="footer"> Banking app by Lucas Vannucchi</footer>
</html>