<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resultado de la búsqueda</title>
</head>
<body>
<h1>Resultado de la búsqueda</h1>

<div th:if="${accountDto != null}">
    <h2>Información de la cuenta</h2>
    <p>ID: <span th:text="${accountDto.getId()}"></span></p>
    <p>Nombre: <span th:text="${accountDto.getAccountHolderName()}"></span></p>
    <p>Dinero en cuneta: <span th:text="${accountDto.getBalance()}"></span></p>
    <!-- Agrega más campos según la estructura de AccountDto -->
</div>

<div th:if="${accountDto == null}">
    <p>No se encontró ninguna cuenta con el ID proporcionado.</p>
</div>
<button type="submit" href="/api/accounts/index">volver</button>
<a href="/api/accounts/index" class="btn btn-primary">Volver al inicio</a>
</body>

</html>
